
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-section{
    position: static;
    margin: 100px auto;
}
.slider{
  margin: 100px auto;
}
  button {
   border:none;
   background-color: #fff;
   border-radius: 15px !important;
   padding: 20px !important;
  }
  
  button.active {
    background-color: #8D1A37;
  }
  button.active i,button.active .btn-name{
    color: #fff;
  }
  button:hover{
    transition: 0.1s;
    transform: scale(1.05);
  }
  .hidden {
    display: none;
  }
  .btn-header{
    color: #8D1A37;
    font-weight: bold;
    font-size: 30px;
}
.my-btn{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 220px;
  margin-bottom: 10px;
  padding: 10px;
}
.fa-store,.fa-ticket,.fa-money-check,.fa-calendar-days,.fa-briefcase{
  font-size: 45px;
  color: #8D1A37;
  padding-left: 10px;
}
.btn-name{
  color:#828282;
}
a{
  text-decoration: none !important;
  font-weight: bold;
  background-color: #8D1A37 !important;
  color: #fff !important;
}

/* carousel */
body{
  background-color: #F3F3F3;
}
.splide__progress {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 12px;
  background-color: #ddd;
  border-radius: 10px;
  transform: translate(-50%);
}
.splide__progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px !important;
  background-color: #8d1a37 !important;
  width: 20%;
  border-radius: 10px;
}

.splide__progress__number {
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  font-size: 9px;
  font-weight: bold;
  color: #8d1a37 !important;
  background: #fff;
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}
.splide__list {
    text-align: center;
    margin-bottom: 50px !important;
}
.splide__arrows a{
  background-color: #8d1a37 !important;
  height: 3em;
  width: 3em;
}
.splide__slide{
  margin-bottom: 50px !important;
}
.fa-chevron-left,.fa-chevron-right{
  color: #F3F3F3;
  font-size: 25px;
}

/* navbar css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--theme-font);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
:root{
    --theme-btn-color:  #8E1B3E;
    --theme-font: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
/* design navebar */
nav{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    height: 78px !important;
}
.nav-link{
    margin-right: 40px;
    font-size: 12px;
}
.nav-btn{
    background-color: var(--theme-btn-color);
    color: #fff;
    padding: 8px 13px;
    border-radius: 20px;
    font-size: 15px;
}
.left-nav-btn{
    background-color: #fff;
    filter: drop-shadow(0px 3.4px 3.4px rgba(0, 0, 0, 0.161));
    padding: 11px 12px;
    margin-right: 45px;
  font-size: 10px;
  border-radius: 10px;
}
.toggle-icon {
    color: #FFC828;
}

.dropdown-toggle[aria-expanded="true"]::after {
  content: none;
}

.dropdown-toggle[aria-expanded="false"]::after {
  content: none;
}
.dropdown-menu{
    margin-top: 20px !important;
    font-size: 12px;
    border: none;
}
.ln-btn {
  /* CSS styles for the normal button */
  color: #D6D6D6;
}

.ln-btn.active {
  /* CSS styles for the active button */
  background-color: #8E1B3E;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 5px;
}